@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Московский проспект 129/1 <br />
    ТРЦ "Московский проспект", 1 этаж<br />
    <abbr title="Номер телефона">Телефон для связи:</abbr>
    +7 (495) 232 10 11
</address>

<address>
    <strong>Электронная почта:</strong>   <a href="mailto:coraltravel@gmail.com">coraltravel@gmail.com</a><br />
    
</address>